* {
  margin: 0;
  padding: 0;
}

#chart-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.group-attribute,
#new-person {
  margin: 20px;
}

.group-attribute {
  display: flex;
  gap: 20px;
}
